<h1>質問一覧</h1>

<ul>
<%= link_to "[新規作成]", new_project_path %>
	<p>質問をクリックすると回答ができます。</p>
	<hr color ="pink">
	<% @projects.each do |project| %>
	<%= project.id %>.[<%= link_to project.title ,project_path(project.id)%>] 
	(回答数：<%= project.tasks.count%>)(スルー：<%= project.nty %>)
		<div align= "right"><%= link_to "[編集]",edit_project_path(project.id)%>
		<%= link_to "[削除]",project_path(project.id), method: :delete,data:{confirm:"削除しますか？"} %></div>
	<hr color ="pink">
	<% end %>


</ul>
